body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  flex: 30%;
}

.feed {
  flex: 40%;
}

.trending {
  flex: 30%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweetBody {
  border-radius: 25px;
  background-color: rgb(57, 224, 227, 0.1);
  width: 60vw;
  padding-left: 5%;
  margin-bottom: 4%;
  margin-top: 4%;
  border: black;
  box-sizing: inherit;
}

.spaceAround {
  justify-content: space-around;
}

.tinyPhoto {
  border-radius: 100%;
  width: 70px;
  height: auto;
}

.teensyImg {
  width: 20px;
  height: auto;
}
